html {
    background-color: #ffffff;
}
 
 body {
     margin: 0 auto;
     padding: 0px;
     width: 1366px;
     height: 768px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
     line-height: 1.5em;
     color: #545454;
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
 }
 
 h1, h2, h3, h4, h5, h6 {
     color: #222;
     font-weight: 600;
     line-height: 1.3em;
 }
 
 h2 {
     margin-top: 1.3em;
 }
 
 a {
     color: #0083e8;
 }
 
 b, strong {
    font-weight: 600;
 }
 
 samp {
    display: none;
 }
 
 .button {
     background-color: rgba(255, 255, 255, 0);
     height: 25px;
     position: relative;
     top: 6px;
     left: 10px;
     display: inline;
     padding: 0px 5px 4px 5px;
     border-radius: 3px;
     border: solid 2px;
     border-color: #b9ac92;
     font-size: 20px;
     color: #b9ac92; /* font color */
     cursor: pointer;
 }
 
 .button:hover{
     background-color: transparent;
     border-color: #9d8e71;
     color: #9d8e71;
 }
 
 @-webkit-keyframes colorize {
 0% {
 -webkit-filter: grayscale(100%);
 }
 100% {
 -webkit-filter: grayscale(0%);
 }
 }
 
 @keyframes colorize {
 0% {
 filter: grayscale(100%);
 }
 100% {
 filter: grayscale(0%);
 }
 }

.testFrame{ 
    /* . とクラス名で html の要素を取得 */
    position: relative; /* relative は相対位置で表示．absolute は絶対位置で表示*/
    background-color: rgba(239, 233, 227, 1.0);
    width: inherit;
    top:-50px;
    margin: 0 auto; /* 中央寄せは position が relative でないといかん */
}

#upperFrame{ 
    /* # をつけて id を指定 */
    height: 700px;
    top:0px;
}

#lowerFrame{
    height: 39px;
    margin-top: 10px;
    top:0px;
}

.testFrame #changeColorButton{
    /* testFrame クラスの子要素の id changeColorButton にアクセス */
    margin-left: 10px;
}

.testFrame #changeColorButton:active{ 
    background-color: #fffefc;
}

.testFrame #alertText{
    width: 300px;
}

.testFrame #textArea{
    /* testFrame クラスの子要素の id changeColorButton にアクセス */
    position: absolute;
    text-align: center;
    top: 210px;
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

#scoreImage{ /* id は # で指定，クラスは . でしてい*/
    display: block;
    position: relative;
    height: 705px;
    border: solid 0px;
    margin: 0 auto;
}

#chunkDrawingArea{
    display: block;
    position: absolute;
    top:13px;
    left: 33px;
    height: 679px;
    width: 1294px;
    background-color: transparent;
    margin: 0 auto;
}


#playPositionArea{
    display: block;
    position: absolute;
    top:13px;
    left: 33px;
    height: 679px;
    width: 1294px;
    background-color: transparent;
    margin: 0 auto;
}

#playPosition{
    display: block;
    position: absolute;
    height: 150px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.62);
    margin: 0 auto;
}

.chunk{
    position: absolute;
    border: solid 3px;
    background-color: rgba(209, 163, 255, 0.08);
    cursor: move;
}

.chunk.score{ /* chunk クラスかつ pattern クラスを持っている要素に適用 */
    border-color: #d1a3ff;
}

.chunk.performance{ /* chunk クラスかつ pattern クラスを持っている要素に適用 */
    border-color: #085002;
}

.chunk.knowledgeApplication{ /* chunk クラスかつ pattern クラスを持っている要素に適用 */
    border-color: #05119a;
}

.chunkDeleteButton{
    position: absolute;
    display: block;
    right:0px; /* CSS で absolute 要素をボックス内で右寄せ: http://so-zou.jp/web-app/tech/css/sample/align.htm */
    width: 10px;
    height: 10px;
    background: rgba(147, 0, 0, 0.69);
    cursor: pointer;
}

.chunkDeleteButton:hover{ /* マウスホバー時のスタイル*/
    background: #9b2f2f;
}

.chunkDeleteButton:active{ /* マウスクリック時のスタイル*/
    background: #a25151;
}

.chunkDeleteButtonFont{
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    top:-23px;
    left:0px;
}

#chunkDataSelectMenu{
    width: 350px;
}

.cpsSelector{
    position: relative;
    top:4px;
    margin-left: 20px;
}
